<p>
  <%= link_to "Info for Visitors", about_repository_path(repository.slug), target: "_blank" %>
</p>
<p>
  <% if helpers.how_to_request(repository) %>
    <%= link_to "How to Request", about_repository_path(repository.slug, anchor: "requesting"), target: "_blank" %>
  <% end %>
</p>
<p>
  <% if helpers.how_to_order(repository) %>
    <%= link_to(
      "Ordering Reproductions",
      about_repository_path(repository.slug, anchor: "ordering"),
      target: "_blank"
    ) %>
  <% end %>
</p>

<hr/>

<% if helpers.pdf_available? %>
  <div class="mb-3 x-printable">
    <%= link_to(
          url_for(action: 'pdf_download', id: @document.document_id),
          download: "#{@document.document_id}.pdf",
          class: 'btn btn-primary btn-sm pdf-download-button'
        ) do %>
      <i class="bi bi-filetype-pdf" aria-hidden="true"></i> <%= t('arclight.views.show.download.pdf') %>
    <% end %>
  </div>
<% end %>
