
<header class="documentHeader row" data-document-id="<%= presenter.document.id %>">
  <h3 class="index_title document-title-heading <%= title_col_class %>">
    <%= helpers.link_to_document presenter.document, counter: @counter %>
    <% presenter.document.extent.each do |extent| %>
      <%= tag.span extent, class: 'al-document-extent badge' unless compact? %>
    <% end %>
  </h3>

  <%= tag.span class: "al-document-container container-wrapper col-md-3 col-sm-3 col-3" do %>
    <%= presenter.document.containers.join(', ') %>
  <% end if presenter.document.containers.present? %>


  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</header>
