<div class="prose prose-container">
  <h1>Using Materials from <%= @repository.name %></h1>

  <p><%= sanitize(using_materials(@repository), tags: %w[a], attributes: %w[href]) %></p>

  <% if visitor_info(@repository) %>
    <h2>Info for Visitors</h2>
    <p><%= sanitize(visitor_info(@repository), tags: %w[a], attributes: %w[href]) %></p>
  <% end %>

  <% if how_to_request(@repository) %>
    <h2 id="requesting">How to Request</h2>
    <p><%= sanitize(how_to_request(@repository), tags: %w[a], attributes: %w[href]) %></p>
  <% end %>

  <% if how_to_order(@repository) %>
    <h2 id="ordering">Ordering Reproductions</h2>
    <p><%= sanitize(how_to_order(@repository), tags: %w[a], attributes: %w[href]) %></p>
  <% end %>
</div>